.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    overflow: hidden;
    z-index: 1000;
    /* Adjust as needed */
}

.modal-content {
    width: 300px;
    /* Adjust the width as needed */
    background: white;
    // padding: 20px 30px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    /* Shadow on the left side */
    &__header{
        width: 100%;
        height: 60px;
        background-color: #F4FAFF;
        padding: 20px 0px 0px 30px;
    }
}

.close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    font-size: 20px;
}