@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  opacity: 0.3;
  padding: 10px 0px 10px 30px;
}

.content-container{
  padding: 30px;
}

.change{
  color: #5780EB;
  font-size: 12px; 
}

.btns{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
}