.table-header > th{
  font-weight: 700;
  font-size: 12px;
}

.table-header > td {
  font-size: 12px;
}

.change{
  color: #5780EB;
  font-size: 12px; 
}

.btns{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
}