*{
  font-size: 16px;
}

.sidebar{
  min-width: 13%;
  height: 100vh;
  background-color: #ffffff;
  padding: 20px;
  
  .search-icon{
    float: right;
  }
}

.main{
  margin-top: 98px;
  display: flex;
  flex-direction: column;
}

.notification{
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}

.c-p{
  cursor: pointer;
  padding: 10px; 
}

.c-p:hover{
  background-color: #BFC4F6;
  border-radius: 10px;
}

hr{
  margin-left: 10px;
  width: calc(100% - 20px);
}